* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.Sucker1 {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #0e141e, #64dcec);
}

.Sucker2 {
    width: 100%;
    max-width: 540px;
    background: rgb(1, 22, 27);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.Sucker2 h2{
    color: #e6e8eb;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Sucker2 h2 img{
    width: 30px;
    margin-left: 10px;
}

.Sucker3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dcd5d5;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background: transparent;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #c91b08;
    color: rgb(239, 236, 236);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/uncheched.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #d2b9b9;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/cheched.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #7c0d0d;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}
